---
layout: default
title: Search
permalink: /search/
---

{% include search-box.html %}

<!-- Placeholder for search results -->
<ul id="search-results"></ul>

<script>
  window.store = {
    {% for coll in site.collections %}
      {% for doc in coll.docs %}
      "{{ doc.url | slugify }}": {
        "title": "{{ doc.title | xml_escape }}",
        //"author": "{{ doc.author | xml_escape }}",
        //"category": "{{ doc.category | xml_escape }}",
        "content": {{ doc.content | strip_html | strip_newlines | jsonify }},
        //"url": "{{ doc.url | xml_escape }}"
      }
      ,
      //{% unless forloop.last %},{% endunless %}
      {% endfor %}
    {% endfor %}
  };
</script>

<script src="{{ '/js/lunr.min.js' | relative_url }}"></script>
<script src="{{ '/js/search.js' | relative_url }}"></script>
