<footer class="site-footer">
  <div id="footer-col-1">
    <h1 class="footer-header">About</h1>
    <p>This site contains miscellaneous shorter and longer notes about different topics. I made these notes typically after researching something, so that I can just look it up in the future and don't need to research it again.</p>
    <h1 class="footer-header">Contact</h1>
    <p>My name is Daniel Weibel. I can be reached by e-mail at <a href="mailto:@eibeld.net">hello@weibeld.net</a>.</p>
    <p>And most importantly, my GitHub profile is
      <span class="icon-github">{% include icon-github.svg %}</span><a href="https://github.com/weibeld">weibeld</a>.</p>
  </div>
  <div id="footer-col-2">
    <h1 class="footer-header">Licensing</h1>
    <div id="license-icon">
      <a  rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
        <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
      </a>
      <br />
    </div>
    This website and all its content is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
  <p>© 2017 Daniel Weibel</p>
  </div>
</footer>
