<footer class="site-footer">
  <div id="footer-col-1">
    <h1 class="footer-heading">About</h1>
    <p>This site contains shorter and longer notes about various programming-related topics. I usually write these notes for nailing down something that I just researched, so that I can just look it up here, whenever I need it again, instead of having to research it again. I hope that these notes are useful to other programmers too!</p>
    <h1 class="footer-heading">Contact</h1>
    <p>My name is Daniel Weibel. I can be reached by e-mail at <a href="mailto:hello@weibeld.net">hello@weibeld.net</a>.</p>
    <p>And most importantly, my GitHub profile is
      <nobr><span class="icon-github">{% include icon-github.svg %}</span><a href="https://github.com/weibeld">weibeld</a></nobr>.</p>
  </div>
  <div id="footer-col-2">
    <h1 class="footer-heading">Licensing</h1>
    <div id="license-icon">
      <a class="naked-link no-strong-hover" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
        <img id="license-icon-img" alt="Creative Commons License" style="border-width:0" src="{{ '/assets/icons/license.png' | relative_url }}" />
      </a>
      <br />
    </div>
    This website and all its content is licensed under a <a class="naked-link" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
  <p>© 2017 Daniel Weibel</p>
  </div>
</footer>
