<footer class="site-footer">
  <div id="footer-col-1">
    <h1 class="footer-heading">About</h1>
    <p>This is a collection of pretty arbitrary notes about computer science, software engineering, and related topics, that I made over the years. I usually make these notes after researching something, so that I won't forget it again. I often come back here when I want to quickly look up something that I know I researched it before. I hope that these pages prove to be equally useful for other computer scientists and programmers!<p>
    <h1 class="footer-heading">Contact</h1>
    <p>My name is Daniel Weibel. I can be reached by e-mail at <a href="mailto:daniel@weibeld.net">daniel@weibeld.net</a>.</p>
    <p>And most importantly, my GitHub profile is
      <nobr><span class="icon-github">{% include icon-github.svg %}</span><a href="https://github.com/weibeld">weibeld</a></nobr>.</p>
  </div>
  <div id="footer-col-2">
    <h1 class="footer-heading">Licensing</h1>
    <div id="license-icon">
      <a class="naked-link no-strong-hover" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
        <img id="license-icon-img" alt="Creative Commons License" style="border-width:0" src="{{ '/assets/icons/license.png' | relative_url }}" />
      </a>
      <br />
    </div>
    This website and all its content is licensed under a <a class="naked-link" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
  <p>© 2018, 2017 Daniel Weibel</p>
  </div>
</footer>
