<header>

  <div id="header-left">
    <a id="header-logo-link" href="{{ "/" | relative_url }}">
      <img src="{{ '/assets/icons/weibeld.png' | relative_url }}">
    </a>
    <a id="header-title-link" href="{{ "/" | relative_url }}">
      {{ site.title | escape }}
    </a>
  </div>

  <form id="header-search-form" action="{{ '/search/' | relative_url }}" method="get" onsubmit="return isSubmit();">
    <input type="search" id="header-search-text" name="query" placeholder="Search...">
    <button type="submit" id="header-search-submit">
      <img id="search-black" src="{{ 'assets/icons/search-black.svg' | relative_url }}">
      <img id="search-white" src="{{ 'assets/icons/search-white.svg' | relative_url }}">
    </button>
  </form>

  <script src="{{ '/js/search-bar.js' | relative_url }}"></script>
  <script src="{{ '/js/classie.js' | relative_url }}"></script>
</header>

