// Dimensions
$content-width: 850px;

// Fonts
$font-style: 'Source Sans Pro', sans-serif;
$heading-font: Oswald, sans-serif;

// Colours
$accent-color: #19CCAA;

$main: #19CCAA;
$font-color: #262626;
$link-color: black;
$link-hover-color: $main;
$heading-font-color: #425469;
$light: #E7EDF4;
$header: #1D1425;
$gray: #898989;
$base-font-size: 20px;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
