body {
	margin: 0;
	color: $font-color;
	font-family: $font-style;
  // Do not set the font size of the body element in px, but use the default
  // font size of the device this website will be displayed on. Then alter font
  // sizes of other element relative to it with em (e.g. font-size: 1.5em;)
	//font-size: $base-font-size;
  background-color: white;
	-webkit-font-smoothing: antialiased;
}

/* Include border and padding in width (important if doing width arithmetic) */
* { box-sizing: border-box; }

// To delete
p {
  //margin: 0;
}

li {
  margin: 5px 0;
}
ul {
  list-style-type: square;
}

h1,h2,h3,h4,h5 {
  color: black;
  //background: purple;
  margin: 0;
  font-family: $heading-font;
}

h1 {
  font-size: 1.7em;
  border-bottom: 1px solid;
  margin-top: 50px;
  padding-bottom: 10px;
  padding-top: 10px;
}

h2 {
  font-size: 1.4em;
  margin-top: 30px;
  margin-bottom: -5px;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1em;
}

//h1,
//h2,
//h3 {
//	font-weight: 700;
//	color: $heading-font-color;
//	font-family: $heading-font;
//	line-height: 1.5;
//  margin: 0;
//}
//h1 {
//	color: $main;
//	font-size: 2.5em;
//}
//h2 {
//	font-size: 2em;
//}

// Links within body text
a,
a:visited {
  color: $link-color;
  text-decoration: underline;
  font-weight: bold;
}
a:hover {
  //color: $link-hover-color;
  //text-decoration: underline;
  color: white;
  background-color: black;
  text-decoration: none;
  border-radius: 4px;
}

// Links in lists, etc.
a.exposed-link {
  text-decoration: none;
}

a.exposed-link:hover {
  background: initial;
  color: $accent-color;
  text-decoration: underline;
}

.doc-list {
  //list-style-image: url('/mynotes/assets/list-item-marker.png');
  //list-style-type: none;
  a {
    width: 100%;
    padding: 15px;
    font-size: 1.2em;
    background-color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    border: 3px solid;
    margin-bottom: 5px;
    &:active,
    &:hover {
      background-color: black;
      color: white;
    }
  }
}


.page-title {
  border: initial;
  font-size: 2.7em;
  color: black;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: none;
}

.page-date {
  font-style: italic;
  text-align: center;
  width: 100%;
  font-size: 0.9em;
  color: $gray;
  margin-bottom: 30px;
}

.categories-title {
  border: initial;
  padding-left: 15px;
  font-size: 2.5em;
  margin-top: 20px;
  margin-bottom: 30px;
}

ul.breadcrumbs {
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 10px;
  list-style: none;
  background: white;
  margin: 0;
  font-size: 0.9em;
  font-weight: 400;
  font-style: italic;
  li {
    display: inline;
    background: white;
  }
  li+li:before {
    color: black;
    content: "\00a0>\00a0\00a0";
  }
  a {
    @extend .exposed-link;
    font-weight: 400;
    text-decoration: underline;
  }
}

a.collection-box-link {
  font-weight: 400;
  &:hover {
    color: black;
    //background-color: lightgray;
  }
}

.collection-box{
  border: 4px solid black;
  border-radius: 15px;
  float: left;
  width: 46%;
  margin: 2%;
  padding: 15px;
  &:hover {
    box-shadow: 0 4px 4px rgba(0,0,0,.2);
    background-color: black;
    color: white;
  }
  &:hover .collection-box-title h1 {
    //color: $main;
    //text-decoration: underline;
    color: white;
  }
  .collection-box-title {
    display: flex;
    align-items: center;
    h1 {
      all: initial;
      font-family: $heading-font;
      font-size: 1.5em;
      padding-left: 15px;
    }
    img {
      float: left;
    }
  }
  p {
    margin-top: 15px;
    margin-bottom: 10px;
  }
}
.collection-box-title::after {
  content: "";
  clear: both;
  display: table;
}

// Banner on home page
//header {
//	background: $header;
//	//padding: 0px 15px;
//	//margin: 50px 0 0;
//	height: 50vh;
//  width: 100vw;
//  left: 50%;
//  margin-left: -50vw;
//  position: relative;
//	display: flex;
//	justify-content: center;
//	align-items: center;
//}

// Immediate child of <body>
main {
	padding: 20px;
	max-width: $content-width;
	margin: 20px auto;
  background: white;
  //border: 1px solid red;
}

time {
	color: $gray;
}

// Immediate child of <aside> (page header)
.container {
	//max-width: $content-width;
	margin: 0 auto;
}


header {
  background-color: white;
  height: 3.5em;
  position: relative;
  border-bottom: 5px solid black;
  #home-link {
    border-radius: initial;
    float: left;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 2em;
    font-weight: 900;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    &:hover,
    &:active {
      //text-decoration: underline;
      background-color: black;
      color: white;
    }
  }
}


footer {
	padding: 40px 40px 5px 40px;
  background-color: #EEE;
  //background-color: #181818;
  //color: white;
  border-top: 5px solid black;
  margin: 0;
  float: left;
  font-size: 0.9em;

  #footer-col-1 {
    width: 48%;
    float: left;
    margin-right: 2%;
  }
  #footer-col-2 {
    width: 48%;
    float: left;
    margin-left: 2%;
  }
}

#license-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.icon-github {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.25em;
  margin-left: 0.25em;
}

.footer-header {
  margin: initial;
  //color: white;
  font-size: 1em;
  font-family: 'Source Sans Pro';
  font-weight: 700;
}

/* Since containers are floating, we need this to take into account their space */
main::after {
  content: "";
  clear: both;
  display: table;
}

#test {
  width: 96px;
  border-bottom: 0.5cm solid black;
}
