
html {
  // Do not set the font size of the body element in px, but use the default
  // font size of the device this website will be displayed on. Then alter font
  // sizes of other element relative to it with em (e.g. font-size: 1.5em;)
  font-size: $font-size-root-Mobile;
  // Disable horizontal scrolling
  overflow-x: hidden;
}
@media (min-width: $break-give-space) {
  html {
    font-size: $font-size-root-Desktop;
  }
}

body {
	margin: 0;
	font-family: $font-body;
  line-height: $line-height-body-Mobile;
	-webkit-font-smoothing: antialiased;
}
@media (min-width: $break-give-space) {
  body {
    line-height: $line-height-body-Desktop;
  }
}

// Include border and padding in width (important if doing width arithmetic)
*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

input, button {
  outline: none;
  border: none;
  border-radius: 0;
}

input[type="submit"], button {
  cursor: pointer;
}

/* Main container (immediate child of <body>) */

main {
	padding: $padding-main-Mobile;
  padding-bottom: 1rem;
	max-width: $content-width;
	margin: 0 auto;
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

@media (min-width: $break-give-space) {
  main {
    padding: $padding-main-Desktop;
    padding-bottom: 2rem;
  }
}


/* Headings and paragraphs */

h1,h2,h3,h4,h5 {
  font-family: $font-headings;
  line-height: $line-height-heading;
  margin: 0;
}
h1 {
  font-size: $font-size-h1-Mobile;
  border-bottom: 1px solid;
  margin-top: $margin-top-h1-Mobile;
  padding-bottom: 0.2em;
}
h2 {
  font-size: $font-size-h2-Mobile;
  margin-top: $margin-top-h2-Mobile;
}
h3 {
  font-size: $font-size-h3-Mobile;
  margin-top: $margin-top-h3-Mobile;
}
h4 {
  font-size: $font-size-h4-Mobile;
}
@media (min-width: $break-give-space) {
  h1 {
    margin-top: $margin-top-h1-Desktop;
  }
  h2 {
    margin-top: $margin-top-h2-Desktop;
  }
  h3 {
    margin-top: $margin-top-h3-Desktop;
  }
}


p{
  margin: $margin-paragraph-Mobile 0;
}
@media (min-width: $break-give-space) {
  p {
    margin: $margin-paragraph-Desktop 0;
  }
}



/* Lists */

ul, ol {
  margin: 0;
  padding-left: 1.75rem;
}
ul {
  list-style-type: square;
}
// A list that comes directly after a heading (and not a paragraph as usual)
h1,h2,h3,h4 {
  &+ol, &+ul {
    margin-top: $margin-paragraph-Mobile;
    @media (min-width: $break-give-space) {
      margin-top: $margin-paragraph-Desktop;
    }
  }
}

@mixin strong-hover-mixin {
  background-color: black;
  color: white;
  border-color: black;
  box-shadow: $shadow-large;
}

@mixin soft-hover-mixin {
  background-color: initial;
  color: $color-accent;
  border-radius: initial;
  box-shadow: none;
  border-color: $color-accent-light;
}

/* Links */

a, a:visited {
  text-decoration: initial;
  color: initial;
  font-weight: bold;
  border-bottom: 2px solid $color-accent-light;
}
a:hover, a:active {
  color: $color-accent;
}
a.naked-link {
  border: initial;
  padding: initial;
}
a.sitemap-link {
  @extend .naked-link;
  @extend .no-strong-hover;
  font-weight: initial;
}
@media (hover: hover) {
  a:hover, a:active {
    @include strong-hover-mixin;
    border-radius: 0.15em;
  }
  a.no-strong-hover {
    &:hover, &:active {
      @include soft-hover-mixin;
    }
  }
}


/* Prominent headings */
//   Title of a "category" page
.categories-title {
  border: initial;
  margin: initial;
  font-size: $font-size-page-heading-Mobile;
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
  @media (min-width: $break-give-space) {
    margin-top: 1.25rem;
    margin-bottom: 0.75rem;
    font-size: $font-size-page-heading-Desktop;
  }
  
}
//   Description of a "category" page
.collection-description-row {
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #eee, #fff); //#f0f0f0;
  margin-bottom: 1rem;
  padding: 0.5rem;
  //box-shadow: $shadow-large;
  margin-bottom: 1rem;
  //margin: 0 1rem 1rem 1rem;
  img {
    float: left;
    margin-right: 0.75rem;
    height: 2.5rem;
  }
  p {
    line-height: $line-height-description;
    margin: 0;
    font-size: 0.9em;
  }
  @media (min-width: $break-give-space) {
    margin-bottom: 1.25rem;
  }
}
// Title of a document
.page-title {
  margin: initial;
  padding: initial;
  border: initial;
  font-size: $font-size-page-heading-Mobile;
  text-align: center;
  line-height: $line-height-heading;
  margin-top: 0.3em;
  margin-bottom: 0.5rem;
  @media (min-width: $break-give-space) {
    margin-top: 1em;
    margin-bottom: 2rem;
    font-size: $font-size-page-heading-Desktop;
  }
}

/* Other UI elements */

.page-date {
  font-size: $font-size-date;
  font-style: italic;
  color: $color-secondary-text;
  text-align: center;
}
.page-date-container {
  margin-bottom: 1rem;
}
@media (min-width: $break-give-space) {
  .page-date-container {
    margin-bottom: 2rem;
  }
}
ul.breadcrumbs {
  font-size: $font-size-breadcrumbs-Mobile;
  font-weight: 700;
  font-style: italic;
  padding-left: 0;
  margin: 0;
  list-style: none;
  li {
    display: inline;
    line-height: $line-height-body-Mobile;
  }
  li+li:before {
    content: "\00a0>\00a0\00a0";
  }
}
@media (pointer: fine) {
  ul.breadcrumbs {
    font-weight: 400;
    font-size: $font-size-breadcrumbs-Desktop;
    a {
      font-weight: 400;
    }
  }
}
// Search bar (on search page)
#body-search-form {
  display: inline-flex;
  width: 70%;
  border: 2px solid;
  #body-search-text {
    padding: 0.5rem 1rem;
    width: 100%;
  }
  #body-search-submit {
    width: 2.25rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1.75rem;
    background-image: url('icons/search-black.svg');
    background-color: white ;
    &:hover {
      background-color: black;
      background-image: url('icons/search-white.svg');
    }
  }
}
// Search results
#search-result-list {
  margin-top: 1.5rem;
  li {
    margin: 1rem 0;
    text-align: left;
  }
}
.search-result {
  font-size: $font-size-h2-Mobile;
  font-family: $font-body;
  @extend .naked-link;
}



/* List of documents on the "category" page */

.doc-list {
  a {
    border-radius: $border-radius-doc-list;
    border: $border-doc-list;
    font-size: $font-size-doc-list;
    padding: 0.6em;
    line-height: $line-height-heading;
    display: flex;
    align-items: center;
    & + a {
      margin-top: 8px;
    }
    &:active,
    &:hover {
      color: initial;
      border-color: $color-accent;
      background-color: $color-accent-very-light;
    }
    @media (hover: hover) {
      &:active, &:hover {
        @include strong-hover-mixin;
      }
    }
  }
}



/* Boxes on the home page */

// Outermost link containing the box
//a.collection-box-link {
//  &:active, &:hover {
//  }
//}
// The box itself
.collection-box {
  border: $border-collection-box;
  border-radius: $border-radius-collection-box;
  float: left;
  width: 100%;
  height: $height-collection-box-Mobile;
  @media (min-width: $break-give-space) {
    height: $height-collection-box-Desktop;
  }
  margin: 0.5rem 0;
  padding: $padding-collection-box;
  overflow-y: auto;
  //background-color: $color-footer;
  &:hover {
    border-color: $color-accent;
    background-color: $color-accent-very-light;
    color: initial;
  }
  @media (hover: hover) {
    &:hover {
      @include strong-hover-mixin;
      & .collection-box-heading h1 {
        color: white;
      }
    }
  }
  p {
    margin: 0;
    font-weight: 400;
    line-height: $line-height-description;
    font-size: 0.95em;
  }
  // Heading of the box consisting of image and title
  .collection-box-heading {
    display: flex;
    align-items: center;
    margin-bottom: 0.7rem;
    &::after {
      content: "";
      clear: both;
      display: table;
    }
    img {
      float: left;
    }
    h1 {
      all: initial;
      font-family: $font-headings;
      font-size: $font-size-collection-box-heading;
      line-height: $line-height-heading;
      padding-left: 0.9rem;
    }
  }
}

@media (min-width: $break-two-cols) {
  .collection-box {
    width: 46%;
    margin: 2%;
  }
}

@media (pointer: coarse) { main {  } }

/* The primary input mechanism of the device includes an accurate pointing device. */
@media (pointer: fine) { main {  } }


/* Header */
header {
  height: $height-header;
  border-bottom: $border-header-footer;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  // Left-aligned part of header
  #header-left {
    display: flex;
    #header-logo-link {
      all: initial;
      display: flex;
      align-items: center;
      padding: 0 $logo-padding;
      img {
        width: $logo-width;
      }
      &:hover {
        background-color: black;
      }
    }
    #header-title-link {
      all: initial;
      display: flex;
      align-items: center;
      padding: 0 $padding-main-Mobile;
      font-size: 2rem;
      font-family: $font-body;
      font-weight: 700;
      &:hover {
        background: black;
        color: white;
      }
    }
  }
  // Right-aligned part of header
  #header-search-form {
    display: flex;
    #header-search-text {
      height: 100%;
      padding: 0 1rem;
      font-family: $font-body;
      font-size: 1.2rem;
      $width-search-text: calc(100vw - #{$width-search-button} - #{$logo-width} - 2*#{$logo-padding} + 0.5rem);
      width: $width-search-text;
      position: absolute;
      right: calc(-1 * #{$width-search-text} + #{$width-search-button});
      transition: right 0.3s ease-out;
      &.active {
        right: $width-search-button;
      }
    }
    #header-search-submit {
      width: $width-search-button;
      background-color: white;
      background-image: url('icons/search-black.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 2.75rem;
      z-index: 1;
      &:hover {
        background-image: url('icons/search-white.svg');
        background-color: black;
      }
    }
  }
  @media (min-width: $break-give-space) {
    // Static search bar (always visible)
    #header-search-form {
      #header-search-text {
        width: 12rem;
        right: $width-search-button;
      }
    }
  }
}

/* Footer */

footer {
  font-size: $font-size-footer-Mobile;
	padding: 0 $padding-main-Mobile;
  background-color: $color-footer;
  border-top: $border-header-footer;
  margin: 0;
  float: left;

  #footer-col-1 {
    width: 100%;
    float: left;
  }
  #footer-col-2 {
    width: 100%;
    float: left;
  }
}
@media (min-width: $break-give-space) {
  footer {
    padding: 0 $padding-main-Desktop;
    font-size: $font-size-footer-Desktop;
    line-height: $line-height-footer-Desktop;
    p {
      margin: $margin-paragraph-footer-Desktop 0;
    }
  }
}

.footer-heading {
  margin: initial;
  font-family: $font-body;
  font-size: 1.1em;
  margin-top: 1em;
  font-weight: 700;
}

@media only screen and (min-width: $break-two-cols) {
  footer {
    #footer-col-1 {
      width: 48%;
      float: left;
      margin-right: 2%;
    }
    #footer-col-2 {
      width: 48%;
      float: left;
      margin-left: 2%;
    }
  }
}

div[id^=footer-col-] > :first-child {
  //background: red;
}

#license-icon {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}
#license-icon-img {
  height: 2.25em;
}

.icon-github {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.25em;
  margin-left: 0.25em;
}


.center-image {
  margin: 0 auto;
  display: block;
}

/* Tables */

// Table with alternating row colours, and no scrolling support. If wider than
// the content, the table takes 100% width, and the content inside <td> wraps.
.table-normal {
  margin: 0 auto;
  border-collapse: collapse;
  box-shadow: $shadow-large;
  td, th {
    padding: 0.2rem 0.75rem;
    &:first-child { padding-left: 0.5rem; }
    &:last-child { padding-right: 0.5rem; }
  }
  thead {
    background: #AAA;
  }
  th {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }
  tbody > tr {
    &:nth-child(even) { background: #CCC; }
    &:nth-child(odd) { background: white; }
  }
  // If the table has no header, start with gray
  &.table-no-head {
    tbody > tr {
      &:nth-child(odd) { background: #CCC; }
      &:nth-child(even) { background: white; }
    }
  }
}

// Table with horizontal scrolling support. Table is horizontally centered if
// less wide than content, and taked 100% width and has scrollbars otherwise.
// Caveats: no shadow can be applied, no line will break inside a <td>
.scrollable-table-wrapper {
  overflow-x: auto;
}
.table-scrollable {
  @extend .table-normal;
  white-space: nowrap;
  box-shadow: none;
}

// Table with description of acronyms in two columns
.table-acronym {
  margin: $margin-paragraph-Desktop 0;
  margin-left: 1rem;
  border-collapse: collapse;
  td {
    padding: 0 0;
    &:first-child {
      font-weight: bold;
      padding-right: 0.5rem;
    }
    &:last-child {
      padding-left: 0.5rem;
    }
  }
}
// Table with description of terms with two columns
.table-description {
  border-collapse: collapse;
  width: 100%;
  margin: $margin-paragraph-Desktop 0;
  td {
    padding: 0.75rem 1rem;
    word-wrap: break-word;
    vertical-align: top;
    &:first-child {
      padding-left: 0.5rem;
      max-width: 10rem;
      font-weight: bold;
    }
    &:last-child {
      padding-right: 0.5rem;
      line-height: $line-height-description;
    }
  }

  tbody > tr {
    border-bottom: 1px solid;
    border-top: 1px solid;
  }
}

// Hide the table head row of this table
.table-no-head {
  thead {
    display: none;
  }
}


/* Block quotes */

// Normal blockquotes (info boxes)
blockquote {
  font-size: $font-size-blockquote-Desktop;
  line-height: $line-height-footer-Desktop;
  margin: 0; // 2rem;
  border: 3px solid $color-accent;
  box-shadow: $shadow-large;
  padding: 0.5rem 0.75rem;
  padding-left: 3rem;
  background: $color-accent-medium-light;
  background-image: url('icons/info.png');
  background-repeat: no-repeat;
  background-position: 0.5em 0.65em;
  background-size: 2rem; 
  min-height: 3.5rem;
  display: flex;
  align-items: center;
  p {
    margin: 0;
  }
}

// Blockquotes containing a quote
.quote {
  background-color: #DDD;
  background-image: url('icons/quote.png');
  font-size: 1.1rem;
  padding-left: 3.5rem;
  border: none;
}

// Blockquotes containingn a warning
.warning {
  border-color: red;
  background-image: url('icons/warning.png');
  font-size: 1rem;
  padding-left: 3.25rem;
}


// Automatic ID given by kramdown {:toc} attribute to TOC
#markdown-toc {
}

// Hide first item of TOC
.toc-skip-first {
  li:first-child {
    display: none;
  }
}

// Hide last item of TOC
.toc-skip-last {
  li:last-child {
    display: none;
  }
}

// Hide second level (and below) of TOC
.toc-depth-1 {
  li {
    ul,ol {
      display: none;
    }
  }
}

// Hide third level (and below) of TOC
.toc-depth-2{
  li {
    ul,ol {
      li {
        ul,ol {
          display: none;
        }
      }
    }
  }
}


/* Figure caption */

.caption {
  display: flex;
  justify-content: center;
  font-size: 0.9em;
}

